body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.img_logo{
    width: 103px;
    height: 29px;
}
.barra_topo{
    height: 54px;
    margin-top: 16px;
    margin-left: 215px;
}
.barra_topo div{
    display: flex;
    align-items: center;
    /* max-width: 895px;
    width: 100%; */
    margin-left: 20px;
    margin-right: 21.5px;
    /* border: 1px solid red; */
}
.barra_topo input{
    text-align: center;
}
.barra_superior > div {
    display: flex;
    align-items: center;
    max-width: 895px;
    width: 100%;
    margin-left: 20px;
    margin-right: 21.5px;
}
.icone{
    width: 22px;
    height: 22px;
}
.divisor_vertical{
    background-color: red; /*#DBDBDB <- cor original*/
    width: 1px;
    height: 22px;
    margin-left: 14.58px;
    margin-right: 10px;
}
.icones_topo{
    display: flex;
    gap: 20px;
    padding-right: 215px;
}
.elementos_esquerda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.elementos_direita{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.pesquisa{
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #979797;
}
.stories{
    Width: 614px;
    Height: 118px;
    margin-top: 88px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: 215px;
    border: 2px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    /* overflow: hidden; */
    
}
.story{
    margin-left: 23px;
    margin: auto;
    gap: 15px;
}
.mc{
    padding-left: 18px;
}
.story a{
    font-size: 12px;

}
.img_story{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./stories_background.jpg);
    height: 66px;
    width: 66px;
    background-size: cover;
    margin-bottom: 5px;
}
.stories ion-icon{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    color: #fff;
    filter:drop-shadow(0 5px 5px rgb(85, 85, 85));    
    /* position: absolute;
    z-index: 1;
    right: 8px;
    top: 46px; */
}
.conteudo{
    width: 614px;
    height: 100wh;
    margin-top: 24px;
    /* border: 2px solid red; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 216px;
}
.post{
    /* border: 3px solid blue; */
    margin-bottom: 60px;
    width: 614px;

}
.post img{
    width: 612px;
    height: 612px;
    
}
.likes{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 17px;
    width: auto;
    height: auto;
    
}
.likes a{
    font-weight: 300;
    font-size: 14px
}
.likes img{
    margin: 42px, 500px, 14px, 17px;
    
}
.barra_topo_conteudo{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 17px;
    /* background-color: #15dbe9; */
    width: auto;
    height: 60px;
}
.barra_topo_conteudo a{
    width: 109px;
    height: 21px;
}
.icone_topo_conteudo{
    padding-left: 408px;
    padding-right: 17px;
    height: 16px;
    width: 16px;
}
.barra_topo_conteudo img{
    width: 32px;
    height: 32px;
}
.barra_fundo_conteudo{
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: #15dbe9; */
    margin-left: 17px
}
.icone_fundo_conteudo{
    padding-left: 450px;
    padding-right: 17px;  
    height: 22px;
    width: 22px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 26%;
    top: 54px;
    right: 0;
    margin: auto;
    height: 100vh;
    /* background-color: purple; */
}
.sidebar_topo{
    display: flex;
    align-items: center;
    margin: 57px 0 24px 29px ;
}
.sidebar_topo a{
    font-size: 14px;
    font-weight: 300;
    margin-top: 6px
}
.sidebar_topo img{
    width: 56px;
    height: 56px;
}
.sidebar_topo a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar_topo_txt{
    margin: 15px;
    
}
.sidebar_body div:first-child{ /*ve se da certo*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 17px;
}
.sidebar_user{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 30px;
}
.sidebar_user img{
    height: 32px;
    width: 32px;
}
.sidebar_user div{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 11px;
}
.sidebar_user p{
    color: #139EF2;
    font-weight: 500;
}
.sidebar_user a{
    display: flex;
}
.cor{
    font-size: 12px;
    color: #8E8E8E;
}
.likes{
    margin-top: 12px;
}
.likes img{
    width: 20px;
    height: 20px;
}
.sidebar_txt1{
    margin-top: 6px;
}
.sidebar_direita_baixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.texto_final_sidebar{
    font-size: 11px;
    display: flex;
    color: #C7C7C7;
    margin-bottom: 16px;
    margin-top: 33px;
}
.mc2{
    margin-left: 30px;
}

/*.barra_topo div{
    display: flex;
    align-items: center;
    /* max-width: 895px;
    width: 100%; * /
    margin-left: 20px;
    margin-right: 21.5px;
}*/